body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*{
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
}

.header-bg{
    background-color: #3c1f0a;
    position: relative;
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    width: 960px;
}

header ul{
    list-style: none;
}

header ul li {
    position: relative;
    display: flex;
    align-items: center;
}

header ul li:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 35%;
    width: 20px;
    height: 20px;
    background-image: url('../img/menu_bullet.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(90%);
    z-index: 10;
}

.header-text{
    margin-top: 20px;;
}

header h1{
    color: #d5a17c;
    font-style: italic;
}

header a{
    color: white;
    text-decoration: none;
    font-family: Arial,Helvetica;
}

.content{
    border-top: 2px dotted #3c1f0a;
    padding-top: 20px;
}

.itw{
    font-style: italic;
    font-weight: bold;
        font-size: 36px;
}

header ul{
    display: flex;
    margin-top: 50px;
}

header ul *{
    margin: 5px;
}

.right-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: auto;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 47%, rgba(226,226,226,1) 66%, rgb(226, 226, 226) 100%);
}

.rl-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    
    
}

.o-predmetu{
    width: 960px;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-bottom{
    margin-top: 20px !important;
}

.content-bottom img{
    margin: 10px;
    margin-left: 0px !important;
}

.predmet-bg{
    background-image: linear-gradient(white, rgb(207, 207, 207));
    position: relative;
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opredmetu{
    color:#b15e23;
}

.col{
    background-color: white;
    position: relative;
    width: auto;
    min-height: 800px !important;
    display: flex;
    justify-content: center;
        flex-direction: column;
}

#prednasky h1{
    color:#b15e23; 
}

.prednasky-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.prednasky-content #prednaska1, #prednaska2, #prednaska3, #prednaska4{
    width: 300px;
    margin: 20px;
    margin-left: 0 !important;
}

#prednasky a{
    color:#3c1f0a;
    text-decoration: none;
}


#prednasky h2{
    margin-bottom: 5px;
}

#vysledky h1{
    color:#b15e23
}

#vysledky{
}

.theader{
    background-color: #d5a17c;
    color: gray;
    font-weight: bold;
    text-align: center;
}
.trow td{
    text-align: left !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px double black !important;
}


table{
    border: 3px solid black;
    
}

#vysledky h1{
    margin-bottom: 10px;
}
#cviceni{
    padding: 20px;
    padding-left: 30px !important;
    width: 300px !important;
    position: relative;
}
#cviceni div{
    margin-top: 40px;
    border-bottom:  2px dotted #3c1f0a;
}
#cviceni h1{
    color:#b15e23;
    margin-bottom: 20px;
}

#cviceni a, h2{
    text-decoration: none;
    color:#3c1f0a;
    margin-bottom: 20px;
}

#cviceni div span{
    display: flex;
    justify-content:left;
    align-items: center;
}

#kontakt{
    padding: 40px 50px 40px 0;
    text-align: left;
}

#kontakt h1{
    color: white;
    margin-bottom: 10px;
}

#kontakt span{
    color: white;
    
}

#kontakt a{

    color:#d5a17c;
    text-decoration: none;
}

#kontakt ul {
    list-style: none;
    padding: 0;
    max-width: 400px; /* Přizpůsob délce obsahu */
}

#kontakt li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#kontakt span {
    color: white;
    font-weight: bold;
    text-align: left;
}

#kontakt a {
    color: #d5a17c;
    text-decoration: none;
    text-align: right;
}


#souvisejici{
    padding: 40px 50px 40px 50px
}

#souvisejici h1{
    color: white;
    margin-bottom: 10px;
}

#souvisejici li{
    list-style: none;
}

#souvisejici li a{
    color:#d5a17c;
    text-decoration: none;
}

#souvisejici img{
    margin-right: 10px;
}

footer{
    position: relative;
    width: 100%;
    height: auto !important;
    background-color: #3c1f0a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 960px;
    height: auto !important;
}